* {
    margin: 0;
}
ul {
    list-style-type: none;
}
button {
    border: none;
    border-radius: 4px;
}
a {
    text-decoration: none;
}
.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }
}
body {
    max-width: 100%;
    font-family: $fontFamily;
    color: $nav-color;
    margin: 0 auto;
}
textarea {
    resize: none;
}
::placeholder {
    color: $placeholder-color;
}
footer {
    background-color: $main-backgroundColor;
    height: 252px;
    display: flex;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.none {
    display: none;
}
