* {
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
button {
    border: none;
    border-radius: 4px;
}
a {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }
}
body {
    max-width: 100%;
    font-family: $fontFamily;
    color: $nav-color;
    margin: 0 auto;
}
textarea {
    resize: none;
}
::placeholder {
    color: $modal-comment-color;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
        justify-content: flex-start;
    }
    @include desktop {
        justify-content: center;
    }
}
.none {
    display: none;
}
.column {
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    @include desktop {
        margin-top: 0px;
        flex-direction: column;
    }
}
