.client {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    fill: $social-color;
    border: $social-color solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: $active-color;
        border-color: $active-color;
    }
}
