.contact {
    display: none;
    align-items: center;
    column-gap: 50px;
    &__details {
        color: $contact-color;
        font-size: $fontSize;
        font-weight: $nav-weight;
        line-height: $section-title-line;
        text-align: left;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $active-color;
            fill: $active-color;
        }
    }
    &__icon {
        display: flex;
        column-gap: 10px;
        align-items: center;
        fill: $contact-color;
    }
}
