.logo {
    text-align: left;

    &__web {
        font-family: $logo-fontFamily;
        font-weight: $fontWeight;
        font-size: $logo-fontSize;
        font-style: normal;
        line-height: $web-height;
        color: $active-color;
    }
    &__studio {
        font-family: $logo-fontFamily;
        font-weight: $fontWeight;
        font-size: $logo-fontSize;
        font-style: normal;
        color: $studio-color;
        line-height: $studio-height;
        &--footer {
            color: $main-text-color;
        }
    }
}
