.main-image {
    background-image: linear-gradient(
            to top,
            $background-gradient-color,
            $background-gradient-color
        ),
        url("../images/main-background.jpg");
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: 50% 50%;
    background-color: $main-backgroundColor;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    &__text {
        text-align: center;
        color: $main-text-color;
        font-weight: $mainWeight;
        font-size: $mainSize;
        line-height: $main-line;
        letter-spacing: 2.64px;
        width: 696px;
        margin-bottom: 30px;
    }
    &__button {
        color: $main-text-color;
        background-color: $active-color;
        font-weight: $fontWeight;
        font-size: $button-size;
        line-height: $button-height;
        padding: 10px 41px 10px 42px;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px $button-shadow;
    }
}
