.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $main-text-color;
    border-radius: 4px;
    transition: transform 0.6s ease-in;
    @include desktop {
        width: 528px;
        height: 581px;
    }
    & p {
        text-align: center;
        font-size: $modal-text-size;
        line-height: $section-title-line;
        padding: 40px 40px 12px 40px;
        color: $nav-color;
        font-weight: $fontWeight;
        font-size: $modal-text-size;
        line-height: $section-title-line;
    }
    & form {
        width: 370px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include desktop {
            width: 448px;
        }
    }
    & label {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
    &__input {
        width: 370px;
        height: 40px;
        border: 1px solid $input-color;
        border-radius: 4px;
        padding-left: 42px;
        outline: none;
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @include desktop {
            width: 448px;
        }
        &:focus-within,
        &:focus-within + svg,
        &:hover + svg,
        &:hover {
            border-color: $active-color;
            fill: $active-color;
        }
    }
    &__input-comment {
        font-size: $fontSize;
        letter-spacing: 0.14px;
        font-weight: $modal-input-weight;
        width: 370px;
        height: 120px;
        display: flex;
        padding: 12px 16px;
        margin-bottom: 10px;
        border: 1px solid $input-color;
        border-radius: 4px;
        outline: none;
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @include desktop {
            width: 448px;
            font-size: $modal-input-size;
            letter-spacing: 0.12px;
        }
        &:hover {
            border-color: $active-color;
            fill: $active-color;
        }
    }
    &__input-title {
        font-family: "Roboto", "sans-serif";
        font-weight: $modal-input-weight;
        font-size: $modal-input-size;
        font-style: normal;
        line-height: $modal-input-height;
        letter-spacing: 1%;
        padding-bottom: 4px;
    }
    &__icon {
        position: absolute;
        top: 29px;
        left: 12px;
    }
    &__input-title {
        font-weight: $modal-input-weight;
        font-size: $modal-input-size;
        font-style: normal;
        line-height: $modal-input-height;
        letter-spacing: 1%;
        padding-bottom: 4px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-size: $button-size;
        line-height: $button-height;
        letter-spacing: 0.06em;
        color: $main-text-color;
        margin: 31px 125px 40px;
        background-color: $active-color;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px $button-shadow;
        cursor: pointer;
        @include desktop {
            margin: 30px 164px 40px;
        }
    }
    &__rules-text {
        position: relative;
        display: block;
        cursor: pointer;
        width: 370px;
        color: $contact-color;
        font-size: 12px;
        font-weight: $modal-input-weight;
        line-height: normal;
        letter-spacing: 0.36px;
        padding-left: 8px;
        @include desktop {
            width: 395px;
            font-size: 14px;
            padding-left: 29px;
            line-height: $rules-height;
        }
        & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        & input:checked ~ .modal__checkbox {
            border-color: $active-color;
            background-color: $active-color;
        }
        & input:checked ~ .modal__checkbox::after {
            display: block;
        }
        & .modal__checkbox::after {
            left: 3px;
            bottom: 2px;
            width: 6px;
            height: 11px;
            border: 0.2px solid #ffffff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
        & .modal__checkbox {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 15px;
            width: 16px;
            border: 2px solid $studio-color;
            background-color: $main-text-color;
            border-color: $studio-color;
            border-radius: 2px;
            @include desktop {
                margin-left: 15px;
                top: 3px;
            }
            &::after {
                content: "";
                position: absolute;
                display: none;
            }
        }
    }
    &__space {
        margin-left: 16px;
        @include desktop {
            margin-left: 14px;
            width: 395px;
        }
    }
    &__link {
        text-decoration: underline;
        color: $active-color;
    }
    &__close {
        display: flex;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        align-items: center;
        border: 1px solid $modal-close-color;
        border-radius: 50%;
        background-color: $main-text-color;
        fill: $studio-color;
        cursor: pointer;
    }
    &__icon {
        position: absolute;
        top: 29px;
        left: 12px;
    }
}
