.newsletter {
    color: $main-text-color;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $section-title-line;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    @include desktop {
        width: 207px;
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        padding-top: 12px;
    }
    &__label {
        width: 450px;
        height: 50px;
        background-color: $main-backgroundColor;
        border: 1px solid $news-border-color;
        border-radius: 4px;
        padding-left: 20px;
        margin-bottom: 20px;
        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @include tablet {
            display: flex;
            justify-content: center;
        }
        @include desktop {
            display: inline-flex;
            width: 358px;
        }
        &:hover,
        &:focus {
            color: $studio-color;
            border-color: $news-border-color;
        }
    }
    &__sign-up-button {
        display: inline-flex;
        align-items: center;
        text-align: center;

        width: 200px;
        height: 50px;
        font-family: "Roboto", "sans-serif";
        font-weight: $fontWeight;
        font-size: $button-size;
        line-height: $button-height;
        letter-spacing: 0.06em;
        color: $main-text-color;
        margin-left: 12px;
        margin-bottom: 60px;
        padding-left: 42px;
        column-gap: 24px;
        background-color: $active-color;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px #00000026;
        cursor: pointer;
    }
    &__button-icon {
        fill: $main-text-color;
    }
}
