.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include desktop {
        flex-direction: row;
    }

    & h4 {
        font-weight: $nav-weight;
        font-size: $button-size;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    & p {
        color: $contact-color;
        font-weight: $modal-input-weight;
        font-size: $button-size;
        line-height: $section-title-line;
        padding-bottom: 16px;
    }
    &__shadow {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__border {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 2px 1px 0px #00000033;
        box-shadow: 0px 1px 1px 0px #00000024;
        box-shadow: 0px 1px 3px 0px #0000001f;
        background-color: $main-text-color;
    }
}
