$fontFamily: "Roboto", sans-serif;
$fontSize: 14px;
$fontWeight: 700;
$lineHeight: 1.46;
$letterSpacing: 3%;
$nav-color: #212121;
$section-title-size: 36px;
$section-title-line: 1.17;
$social-color: #afb1b8;
$active-color: #2196f3;
$main-text-color: #ffffff;
$product-title-color: #2f303acc;
$product-line: 1.14;
$contact-color: #757575;
$advantage-bg-color: #f5f4fa;
$logo-fontFamily: "Raleway", "sans-serif";
$logo-fontSize: 26px;
$studio-color: #000000;
$studio-height: 1.38;
$web-height: 1.19;
$nav-weight: 500;
$main-backgroundColor: #2f303a;
$background-gradient-color: #2f303a66;
$mainWeight: 900;
$mainSize: 44px;
$main-line: 1.36;
$modal-text-size: 20px;
$input-color: #21212133;
$modal-input-weight: 400;
$modal-input-size: 12px;
$modal-input-height: 1.16;
$button-size: 16px;
$button-height: 1.87;
$button-shadow: #00000026;
$rules-height: 1.71;
$modal-close-color: #0000001a;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$footer-contact-height: 1.5;
$footer-social_background: rgba(255, 255, 255, 0.1);
$news-border-color: #ffffff4d;
$border-color: #ececec;
$title-size: 18px;
$filter-height: 1.62;
$description-height: 1.55;
$title-height: 2;
$desctiption-background-color: #2196f3e5;
$modal-comment-color: #75757580;
$placeholder-color: #ffffff99;
